* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.15rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.header {
  margin: 1.25rem auto;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-items-search a {
  color: #7f7f7f;
}

.header-items-search a i {
  font-size: 1.3rem;
}

.header-items-search a span {
  font-size: 0.8rem;
}

.header-items-search a:hover {
  color: #17a2b8;
}

.header-items-logo img {
  width: 12rem;
  height: auto;
}

.header-items-links a {
  color: #7f7f7f;
  margin-left: 1.25rem;
}

.header-items-links a:hover {
  color: #17a2b8;
}

.header-items-links a:nth-child(1) {
  font-size: 0.8rem;
}

.header-items-links a:nth-child(2) {
  font-size: 1.7rem;
}

.header-items-links a:nth-child(3) {
  font-size: 1.7rem;
  position: relative;
}

.header-items-links a:nth-child(3) span {
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 0.625rem;
  background-color: #17a2b8;
  color: white;
  padding: 0.4rem;
  border-radius: 50%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-item {
  position: relative;
  margin-right: 40px;
}

.navbar-item:hover .count {
  -webkit-transform: translateX(-20%) scale(1);
          transform: translateX(-20%) scale(1);
}

.navbar-item:hover a, .navbar-item i {
  color: #17a2b8;
}

.navbar-item:hover i {
  color: #17a2b8;
}

.navbar-item a {
  margin-right: 5px;
  color: #2d2c2c;
}

.navbar-item i {
  color: #2d2c2c;
  font-size: 15px;
}

.navbar-item .count {
  text-align: center;
  width: 50px;
  height: 3px;
  background-color: #17a2b8;
  margin: 9px auto 1rem  auto;
  text-align: center;
  -webkit-transform: translateX(0) scale(0);
          transform: translateX(0) scale(0);
  -webkit-transition: all .7s ease;
  transition: all .7s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-element-input {
  width: 100%;
  height: 150px;
  background-color: #f3f4f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-element-input label {
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-right: 1.25rem;
  color: #000;
}

.footer-element-input input {
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
  width: 500px;
  height: 3.125rem;
  margin-top: .25rem;
  margin-bottom: .75rem;
  margin-right: 1.25rem;
  outline: none;
  border: none;
  padding: 0.5rem 0.9rem;
}

.footer-element-input .subscribe .subscribe-word {
  font-weight: 700;
  color: #2d2c2c;
  letter-spacing: 0.09rem;
}

.footer-element-input .subscribe .count {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 4px;
  background-color: #1fc8e3;
  margin: 9px auto 1rem  auto;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer-element-input .subscribe .count:hover {
  width: 50%;
}
