* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
}

@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.15rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.header {
  margin: 20px auto;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-items-search a {
  opacity: 0.5;
  color: #7f7f7f;
}

.header-items-search a i {
  font-size: 25px;
}

.header-items-search a span {
  font-size: 15px;
}

.header-items-search a:hover {
  color: #17a2b8;
}

.header-items-logo img {
  width: 180px;
  height: auto;
}

.header-items-links a {
  color: #7f7f7f;
  margin-left: 20px;
}

.header-items-links a:hover {
  color: #17a2b8;
}

.header-items-links a:nth-child(1) {
  font-size: 20px;
}

.header-items-links a:nth-child(2) {
  opacity: 0.4;
  font-size: 30px;
}

.header-items-links a:nth-child(3) {
  font-size: 30px;
  position: relative;
  opacity: 0.4;
}

.header-items-links a:nth-child(3) span {
  position: absolute;
  top: 0%;
  left: 70%;
  font-size: 10px;
  background-color: #17a2b8;
  color: white;
  padding: 5px;
  border-radius: 50%;
}
