$main-color:#17a2b8;
$main-font-color:#656565;
$main-color-dark: darken($main-color, 10%);
$main-color-ligth: lighten($main-color,10%);
$discount-color:#e53d60;
$new-color:#15c979;
$warning-color:#ffc427;
$primary-color:#007bff;
$secondary-color:#6c757d;
$success-color:#28a745;
$danger-color:#dc3545;
$light-color:#f8f9fa;
$dark-color:#343a40;
$white:#ffffff;
$black:#000000;
