.footer{
    @include flex-column-center;
    &-element{
        width: 100%;
        @include flex-row;
        @include center;
        &-input{
            width: 100%;
            height: 150px;
            background-color: #f3f4f6;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            label{
                font-weight: $font-weight-700;
                letter-spacing: 0.1rem;
                margin-right: 1.25rem;
                color:#000;
            }
            input{
                font-weight: $font-weight-400;
                font-size: 1.125rem;
                text-align: left;
                width: 500px;
                height: 3.125rem;
                margin-top: .25rem;
                margin-bottom: .75rem;
                margin-right: 1.25rem;
                outline: none;
                border: none;
                padding: 0.5rem 0.9rem;
            }

            .subscribe{
                .subscribe-word{
                   font-weight: $font-weight-700;
                   color: $main-color-text;
                   letter-spacing: 0.09rem;
                }
                .count{
                   text-align: center;
                   margin: auto;
                   width: 100%;
                   height: 4px;
                   background-color:$main-color-ligth;
                   margin: 9px auto 1rem  auto;
                   text-align: center;
                   transition: all .5s ease;
                   &:hover{
                       width: 50%;
                   }
                   }
            }
        }

    }
}