.header{
    margin: 1.25rem auto;
    &-items{
        @include flex-row;
        @include center;
        @include around; 
        &-search a {
            color: $main-font-color;
            & i{
                font-size: 1.3rem;
            }
            & span{
                font-size: 0.8rem;
            }
           &:hover{
               color:$main-color;
           }
       }
       &-logo img{
          width: 12rem;
          height: auto;
       }
       &-links a{
           color: $main-font-color;
           &:hover{
               color: $main-color;
           }
           margin-left: 1.25rem;
           &:nth-child(1){
               font-size: 0.8rem;
           }
           &:nth-child(2){
               font-size: 1.7rem;  
           }
           &:nth-child(3){
               font-size: 1.7rem;
               position: relative;
               & span{
                   position: absolute;
                   top: 0%;
                   left:70%;
                   font-size: 0.625rem;
                   background-color: $main-color;
                   color: white;
                   padding: 0.4rem;
                   border-radius: 50%;
               }
           }
       }

    }

}
.navbar{
    @include flex-row-center;
    &-item{
        position: relative;
        margin-right: 40px;
        &:hover .count{
         transform: translateX(-20%) scale(1); 
        }
        &:hover a,i{
            color: $main-color;
        }
        & a{
            margin-right: 5px;
            color: $main-color-text;
        } 
        & i{
            color: $main-color-text;
            font-size: 15px;
        }
        .count{
            text-align: center;
            width: 50px;
           height: 3px;
           background-color:$main-color;
           margin: 5px auto 1rem  auto;
           text-align: center;
           transform: translateX(0) scale(0);
           transition: all .7s ease;
        } 
    }
}