.header{
    margin: 20px auto;
    &-items{
        @include flex-row;
        @include center;
        @include around; 
        &-search a {
            opacity: 0.5;
            color: $main-font-color;
            & i{
                font-size: 25px;
            }
            & span{
                font-size: 15px;
            }
           &:hover{
               color:$main-color;
           }
       }
       &-logo img{
          width: 180px;
          height: auto;
       }
       &-links a{
           color: $main-font-color;
           &:hover{
               color: $main-color;
           }
           margin-left: 20px;
           &:nth-child(1){
               font-size: 20px;
           }
           &:nth-child(2){
               opacity: 0.4;
               font-size: 30px;  
           }
           &:nth-child(3){
               font-size: 30px;
               position: relative;
               opacity: 0.4;
               & span{
                   position: absolute;
                   top: 0%;
                   left:70%;
                   font-size: 10px;
                   background-color: $main-color;
                   color: white;
                   padding: 5px;
                   border-radius: 50%;
               }
           }
       }

    }

}