@mixin flex {
  display: flex;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@mixin between {
    justify-content: space-between;
}
@mixin around {
    justify-content: space-around ;
}
@mixin evenly {
    justify-content: space-evenly;
}
@mixin center {
    align-items: center;
}
@mixin flex-end {
    align-items: flex-end;
}
@mixin flex-start {
    align-items: flex-start;
}

// Responsivlik üçün mixinlerim

@mixin responsive($breakpoints) {
    @if $breakpoints==small{
        @media(min-width: 576px){
            @content;
        }
    }
    
    @if $breakpoints == medium{
        @media(min-width: 768px){
            @content;
        }
    }
    
    @if $breakpoints == desktop{
        @media(min-width: 992px){
            @content;
        }
    }

    @if $breakpoints == large{
        @media(min-width: 1200px){
            @content;
        }
    }

}