*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    width: 100%;
    height: 100vh;
 
}
a{
    text-decoration: none;
}

ol,ul{
    list-style-type: none;
}
html{
    @include responsive(small){
        font-size: 1rem;
    }
    @include responsive(medium){
        font-size: 1.1rem;
    }
    @include responsive(desktop){
        font-size: 1.15rem;
    }
    @include responsive(large){
        font-size: 1.2rem;
    }
}