// Font-size (1rem=16px)
$font-size-xs:1rem;
$font-size-sm:2rem;
$font-size-md:3rem;
$font-size-lg:4rem;
$font-size-xl:5rem;

// Font-weight
$font-weight-400:400;
$font-weight-700:700;

// Line height
$line-height-xs:1rem;
$line-height-sm:2rem;
$line-height-md:3rem;
$line-height-lg:4rem;
$line-height-xl:5rem;

// Font-family
$font-family-sans:'Open Sans', sans-serif;
$font-family-montserrat:'Montserrat', sans-serif;
