@import 'mixins';
@import 'reset';
@import 'variables';
@import 'utilities';
@import 'colors';
@import 'typography';
@import 'layout';
@import 'components';
@import 'animations';
@import 'header';
@import 'footer';
@import 'home';


